.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    max-width: 1400px;
    max-height: 100vh;
    gap: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pagesAndOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.buttonChangePage {
    padding: 0.5rem;
}

.buttonChangePage span {
    color: #6B7280;
}


.buttonChangePageSelected {
    padding: 0.5rem;
    background-color: rgba(0, 90, 220, 0.1);
    border-radius: 6px;
    font-weight: 600;
}

.emailsField {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}

.reloadButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(19, 127, 236);
    color: white;
}

.reloadButton:hover {
    cursor: pointer;
}

.reloadButton:active {
    transform: scale(0.9);
    background-color: rgb(0, 106, 215);
}